ion-content {
    --background: blue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px; /* Añadir espacio inferior para el botón */
    min-height: 100vh; /* Para que el contenido ocupe toda la pantalla */
  }
  
  .title-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    padding: 20px; /* Añade espacio alrededor del contenedor */
  }
  
  .app-title {
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 255, 255); /* Color azul como en el login */
    text-align: center;
    margin-bottom: 20px;
    margin-left: 3px;
  }
  
  /* Estilos para las tarjetas de reportes */
  ion-card {
    --background: rgb(255, 255, 255);
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para las tarjetas */
  }
  
  
  ion-card-title {
    color: #d52b1e;
  }
  
  ion-card-content p {
    font-size: 16px;
    color: black; /* Texto de los detalles del reporte en azul */
  }

  .volver-button {
    width: 50px; /* Ajusta el ancho del botón */
    height: 40px; /* Ajusta la altura del botón para que sea cuadrado */
    border-radius: 8px; /* Opcional: esquinas redondeadas */
    background-color: red; /* Color rojo para el botón */
    color: white; /* Color del ícono */
    display: flex;
    justify-content: center; /* Centra el ícono horizontalmente */
    align-items: center; /* Centra el ícono verticalmente */
    margin-right: 16px; /* Espacio entre el botón y el título */
  }

  /* Estilo para la lista de usuarios */
ion-list {
    padding: 0; /* Eliminar padding por defecto */
  }
  
  /* Estilo para cada item de usuario */
  ion-item {
    background: white; /* Fondo blanco para cada item */
    margin: 10px 0; /* Margen entre los items */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    padding: 10px; /* Padding interno */
  }
  
  /* Estilo para el overlay */
  .overlay {
    position: fixed; /* Ocupa toda la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex; /* Usar flexbox para centrar el contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .formulario {
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 18px;
    width: 90%; /* Ancho del formulario, ajustable */
    max-width: 400px; /* Ancho máximo del formulario */
  }
  
  .formulario ion-input {
    color: black;
  }
  

  