<ion-content>
  <div class="title-container">
    <ion-button class="bandeja-button" color="danger" (click)="cerrarSesion()" >
      <ion-icon name="log-out"></ion-icon> 
    </ion-button>
    <h1 class="app-title">JuntemosChile</h1>
    <ion-button class="bandeja-button" color="danger" [ngClass]="{ 'hidden-button': rol !== 'Coordinador' }" (click)="buzonReportes()">
      <ion-icon name="mail-outline"></ion-icon>
    </ion-button>
  </div>

  <ion-button class="boton-admin" color="danger" *ngIf="rol === 'Administrador'" (click)="resumenReportes()">Ver Resumen Reportes</ion-button>
  <ion-button class="boton-admin" color="danger" *ngIf="rol === 'Voluntario'" (click)="reportesInscritos()">Ver Reportes Inscritos</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let reporte of reportes">
        <ion-card class="form">
          <ion-card-header>
            <ion-card-title>{{ reporte.titulo }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ reporte.descripcion }}</p>
            <p>Creado el: {{ reporte.creado_en }}</p>
            <p>Ciudadano ID: {{ reporte.ciudadano_id }}</p>
            <p>Coordinador ID: {{ reporte.coordinador_id }}</p>
            <ion-button color="danger" *ngIf="rol === 'Voluntario'" (click)="inscribirVoluntario(reporte.id_reporte)">Inscribirse a reporte</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button color="danger" class="boton-cuadrado" [ngClass]="{ 'hidden-button': rol !== 'Ciudadano' }" (click)="toggleFormulario()">Crear Reporte</ion-button> 

  
  <div class="overlay" *ngIf="mostrarFormulario">
    <div class="formulario">
    <ion-input [(ngModel)]="nuevoReporte.titulo" placeholder="Título"></ion-input>
    <ion-input [(ngModel)]="nuevoReporte.descripcion" placeholder="Descripción"></ion-input>
    <ion-button color="danger" (click)="crearReportes()">Crear</ion-button>
    <ion-button color="danger" (click)="toggleFormulario()">Cancelar</ion-button>
    </div>
  </div>
  
</ion-content>
