<ion-content>
  <!-- Título centrado -->
  <div class="title-container">
    <h1 class="app-title">JuntemosChile</h1>
  </div>

  <!-- Grilla de reportes -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let reporte of reportes">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ reporte.usuario }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Reporte:</strong> {{ reporte.contexto }}</p>
            <p><strong>Región:</strong> {{ reporte.region }}</p>
            <p><strong>Comuna:</strong> {{ reporte.comuna }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
